* {
  margin: 0;
  padding: 0;
}
.login_button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
}
.login_button > div {
  margin: 0 10px;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
}

.menu-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
}
.menu-list li {
  margin: 10px;
}

.menu-form {
  position: absolute;
  right: 20px;
  top: 0;
  border-bottom: 2px solid #666;
  padding-bottom: 3px;
}
.menu-form input {
  border: none;
  outline: none;
}

.productCard {
  padding-inline: 5%;
  padding-bottom: 20px;
}
.productCard img {
  width: 100%;
}
.productCard > div {
  height: 30px;
  line-height: 30px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
